* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #4B0082, #9370DB, #E6E6FA);
    font-family: inter;
}

.calculator-container {
    background-color: white;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 10px;
}

.calculator-container:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

h1 {
    margin-top: 0;
    text-align: center;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px 0;
    width: 100%;
    outline: none;
}

button {
    background: linear-gradient(120deg, #E0AAFF, #C77DFF, #9D4EDD);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
    border-radius: 10px;
    font-weight: 650;
}

button:hover {
    background: linear-gradient(
    120deg, 
    #8A2BE2,     
    #7B2CBF,     
    #5A189A      
);
}

button:active {
    transform: scale(0.95);
    transition: .4s;
}

#total {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}